*{
    color: white;
    margin: 0;
    padding: 0;
}

body{
    background: #636363;
}

/* Header */

.header{
    width: 1440px;
    height: 768px;
    background: url("images/header_background.png");
    background-size: cover;
    margin: 0 auto;
}

#header__logo{
    display: flex;
    width: 101.62px;
    height: 23px;
    margin: 0 auto;
    padding-top: 41px;
}

#header__tagline{
    display: flex;
    margin: 0 auto;
    padding-top: 317px;
    width: max-content;
    height: max-content;
    font-size: 60px;
    font-family: 'Bebas Neue', cursive;
    line-height: 70px;
    letter-spacing: 5px
}

#header__subtitle{
    display: flex;
    margin: 0 auto;
    width: max-content;
    height: max-content;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

#header__scroll{
    display: flex;
    margin: 0 auto;
    padding-top: 221px;
    width: max-content;
    height: max-content;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3.7px;
    font-size: 11px;
    line-height: 13px;
}

/* Navbar */

.navbar{
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 1440px;
    height: 65px;
    background: #FFFF;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 943px;
    height: 65px;
    margin: 0 249px;
}

.navbar__button{
    text-decoration: none;
    color: #48555B;
    margin-left: 48px;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 1.09091px;
}

.navbar__button:hover{
    color: #00A4E5;
    transition-duration: .2s;
}

#navbar__logo{
    width: 79.53px;
    height: 18px;
}

/* Content */

.content{
    margin: 0 auto;
    width: 1440px;
    height: 1081px;
    background: white;
}

/* About */

.about{
    padding-top: 58px;
    margin: 0 auto;
    width: 941px;
    height: 360px;
}

.about__text{
    width: 406px;
    float: left;
}

.about__images{
    margin-top: 93px;
    float: right;
}

.about__images img{
    width: 140px;
    height: 224px;
}

#about__title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.09px;
    letter-spacing: 2.31px;
    text-align: center;
    color: #48555B;
}

.line{
    width: 50px;
    height: 2px;
    background: #00A4E5;
    margin: 10px auto;
}

#about__subtitle{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 23.44px;
    letter-spacing: .19px;
    text-align: left;
    color: #48555B;
    margin-top: 80px;
    width: 406px;
}

#about__maintext{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: .19px;
    color: #48555B;
    margin-top: 28px;
    text-align: left;
    width: 405px;
    height: 115px;
}

/* Services */

.services{
    width: 940px;
    height: 446px;
    padding-top: 118px;
    margin: 0 auto;
}

.services__header{
    float: left;
}

.services__ad{
    display: flex;
    float: right;
}

.services__cards{
    display: flex;
    justify-content: space-between;
    padding-top: 116px;
    width: 940px;
    height: 330px;
}

.services__card{
    border: 1px solid #E6E6E6;
    width: 295px;
    height: 330px;
}

.services__cards__img{
    width: 65.62px;
    height: 75px;
    padding: 38px 0 0 23px;
}

.services__cards__title{
    width: 280px;
    height: 48px;
    padding: 25px 0 0 23px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .43px;
    color: #48555B;
}

.services__cards__text{
    width: 265px;
    height: 92px;
    padding: 13px 0 0 23px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: .19px;
    color: #48555B;
}

#services__button{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 15.23px;
    letter-spacing: .5px;
    color: #FFFFFF;
    width: 150px;
    height: 40px;
    background: #00A4E5;
    border: none;
}

#services__button:hover{
    opacity: .5;
    transition-duration: .5s;
}

#services__title{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.09px;
    letter-spacing: 2.31px;
    color: #48555B;
}

#services__line{
    width: 50px;
    height: 2px;
    background: #00A4E5;
    margin: 10px 0;
}

#services__subtitle{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 19px;
    letter-spacing: .2px;
    color: #48555B;
    width: 405.4px;
    height: 38px;
    margin-right: 31.6px;
}

/* Touch */

.touch{
    background: url("images/getintouch_bg.png");
    background-size: cover;
    margin: 0 auto;
    width: 1440px;
    height: 499px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#touch__title{
    width: 350px;
    height: 72px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: .15px;
    text-align: center;
    margin-top: 120px;
    color: #48555B;
}

#touch__contact{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 15.23px;
    letter-spacing: .5px;
    color: #FFFFFF;
    width: 150px;
    height: 40px;
    background: #00A4E5;
    border: none;
    margin-top: 35px;
}

#touch__contact:hover{
    opacity: .5;
    transition-duration: .5s;
}

/* Newsletter */

.newsletter{
    display: flex;
    width: 1440px;
    height: 100px;
    margin: 0 auto;
    background: #171819;
    justify-content: center;
    align-items: center;
}

#newsletter__email{
    margin-left: 70px;
    padding-left: 16px;
    width: 250px;
    height: 40px;
    border: 1px solid #979797;
    border-right: none;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.41px;
    letter-spacing: .07px;
    color: #48555B;
    position: relative;
}

#newsletter__accept_form{
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 15.23px;
    letter-spacing: .5px;
    color: #FFFFFF;
    width: 150px;
    height: 40px;
    background: #00A4E5;
    border: none;
}

#newsletter__accept_form:hover{
    opacity: .5;
    transition-duration: .5s;
}

#newsletter__title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 25.78px;
    letter-spacing: .85px;
    text-align: center;
}

/* Footer */

.footer{
    margin: 0 auto;
    background: #141A20;
    width: 1440px;
    height: 299px;
}

.footer__info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 240px;
}

.footer__info__company{
    width: 250px;
    height: 148px;
}

#footer__info__company__title{
    width: 59px;
    height: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 12.89px;
    letter-spacing: .85px;
    text-align: center;
}


#footer__info__company__logo{
    width: 101.62px;
    height: 23px;
    margin-top: 19px;
}

#footer__info__company__text{
    width: 250px;
    height: 76px;
    margin-top: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 19px;
    letter-spacing: .85px;
}

.footer__info__links{
    margin-left: 71px;
    width: 262px;
    height: 150px;
}

.footer__info__links__columns{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 262px;
    height: 125px;
}

.footer__info__links__column{
    margin-top: 8px;
    width: 79px;
    height: 125px;
}

.link{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: .85px;
    text-decoration: none;
}

.link:hover{
    color: #00A4E5;
    transition-duration: .2s;
}

#footer__info__links__title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 12.89px;
    letter-spacing: .85px;
}

.footer__info__contact{
    width: 141px;
    height: 128px;
    margin-left: 58px;
}

#footer__info__contact__title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 12.89px;
    letter-spacing: .85px;
}

#footer__info__contact__text{
    margin-top: 15px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: .85px;
}

.footer__info__social{
    width: 87px;
    height: 13px;
    display: flex;
    justify-content: space-between;
    margin: 0 0 60px 46.48px;
    float: top;
}

.footer__info__social__logo{
    width: 12.04px;
    height: 12.04px;
}

.footer__copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 60px;
    background: #171819;
}

#footer__copyright__text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 12.89px;
    letter-spacing: .85px;
}